@model IEnumerable<ProductCategoryViewModel>

@{
    ViewData["Title"] = "ProductCategoryTable";
}

<div class="col-lg-12 stretch-card">
	<div class="card">
		<div class="card-body">
			<h1>ProductCategory</h1>
			
			<a asp-controller="AdminProduct" asp-action="AddProductCategory" type="button" class="btn btn-outline-success btn-icon-text btn-sm addNew">
				<i class="mdi mdi-upload btn-icon-prepend"></i> Add New
			</a>
			@*<button type="button" class="btn btn-success btn-sm addNew">Add product</button>*@
			<table class="table table-bordered" id="tableProduct">
				<thead>
					<tr>
						<th>
							@Html.DisplayNameFor(model => model.productCategory.CreatedDate)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.CategoryName)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.ProductName)
						</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@{
						int i = 0;
					}
					@foreach (var item in Model)
					{
						i++;
						string className = "";
						if (i == 1)
							className = "table-info";
						else if (i == 2)
							className = "table-warning";
						else if (i == 3)
							className = "table-danger";
						else if (i == 4)
							className = "table-success";
						else
						{
							className = "table-primary";
							i -= 5;
						}



						<tr class="@className">
							<td>
								@Html.DisplayFor(modelItem => item.productCategory.CreatedDate)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.CategoryName)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.ProductName)
							</td>

							<td>
								@*<a asp-controller="AdminProduct" asp-action="EditProduct" asp-route-productID="@item.ProductId" type="button" class="btn btn-primary btn-sm">Edit</a>*@
								@*<a asp-controller="AdminProduct" asp-action="ProductDetail" asp-route-productID="@item.ProductId" type="button" class="btn btn-info btn-sm">Detail</a>*@
								<a asp-controller="AdminProduct" asp-action="DeleteProductCategory" asp-route-productID="@item.productCategory.ProductId" asp-route-categoryID="@item.productCategory.CategoryId" type="button" class="btn btn-danger btn-sm">Delete</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>



